<footer>
    <div class="container">
        
        <div class="row">
        <center>
         <img class="img-responsive" src="{{ site.baseurl }}public/images/graytimer100x100.png" alt="">
        </center>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright text-muted small  pull-right ">Copyright &copy; <a href="http://babybinks.com">BabyBinks</a> 2014. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>

<!-- Latest compiled and minified JavaScript -->
<script src="{{ site.baseurl }}public/jquery-1.10.2.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
